body {
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.containerTable {
    justify-content: center;
}

th,
td {
    text-align: left;
    padding: 1rem;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}